:root{
    --branco: #FFFFFF;
    --ciano: hsl(171, 66%, 44%);
    --ciano-claro: hsl(171, 88%, 75%);
    --ciano-escuro: hsl(171, 66%, 29%);
    --cinza-claro: hsl(220, 3%, 79%);
    --azul-claro: hsl(233, 100%, 69%);
    --azul-escuro: hsl(233, 47%, 44%);
    --azul-acinzentado: hsl(201, 11%, 66%);
    --azul-acinzentado-escuro: hsl(210, 10%, 33%);
}

body{
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: var(--branco);
    color: var(--azul-acinzentado-escuro);
}

h1{
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 2rem;
}

h2{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 2rem;
}

h3{
    font-size: 24px;
    font-weight: 600;
}

p{
    font-size: 20px;
    font-weight: 400;
    color: var(--azul-acinzentado);
}

.banner{
    text-align: center;
    background-image: url(/images/bg-header-desktop.png);
    background-size: cover;
    padding: 12rem 0 6rem 0;
}

.descrição{
    text-align: center;
    margin: 0 25rem 5rem 25rem;
}

.botões{
    text-align: center;
    margin-bottom: 10rem;
}

.botões__link{
    color: var(--branco);
    text-decoration: none;
    border-radius: 40px;
    border-bottom: 3px solid var(--ciano-escuro);
    background-color: var(--ciano);
    box-shadow: 0 10px 20px var(--ciano-claro);
    padding: 1rem 2rem;
    margin: 0 1rem;
}

.botão__azul{
    background-color: var(--azul-claro);
    box-shadow: 0 10px 20px var(--cinza-claro);
    border-bottom: 3px solid var(--azul-escuro);
}

.container{
    display: flex;
    align-items: center;
    margin-bottom: 8rem;
}

.container__imagem{
    width: 50%;
    height: 600px;
    position: relative;
}

.container__imagem-img{
    position: absolute;
    left: -2rem;
}

.container__descrição{
    width: 30%;
    margin: 5rem;
}

.container__texto{
    margin: 1rem 0 3rem 0;
}

.imagem_solitária{
    display: block;
    text-align: center;
    margin-bottom: 6rem;
}

.ferramentas{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 0 5rem;
    margin-bottom: 8rem;
}

.ferramentas__container{
    width: 30%;
}

.ferramentas__título{
    margin: 2rem 0;
}